<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %> 

<body>
    <div id="contenedor">

        <%- include('partials/header') %> 

        <%- include('partials/nav') %> 

        <main>
            <article id="carrusel"></article>
            <article id="productos_destacados"></article>
            <p>Hola en que puedo ayudar</p>

            <div>
                <p>¿Necesitas ayuda para iniciar sesion? </p>
                <p>¿configuracion de cuenta?</p>
                <p>Nuestros numeros de atencion al cliente :0800-0000</p>
                <p>Atencion por nuestras redes sociales</p>
            </div>

        </main>
        
        <%- include('partials/footer') %>

    </div>
</body>

</html>