<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="css/styles.css">

</head>
<body>
   <div id="contenedor">
           <header>
           
                <section id="logo"><img src="imagin/logo game live SF.png" width="160" height="140" alt="logo de game life"></section>
                <div class="search">
                    <form action="#">
                        <input type="text" placeholder="Buscar producto " name="search">
                        <button>
                           <img src="imagin/bx-search-alt-2.svg" width="20" height="20" alt="lupa">
                        </button>
    
                    </form>

                </div>
                <div class="iniciar-sesion">
                   <form action="#">
                    <button><a href="/login">Iniciar sesion</a>
                        <img src="imagin/bx-user-circle.svg" width="20" height="20"  alt="inicio de sesion">
                    </button>
                   </form>

                </div>
                <div class="carrito">
                    <form action="#">
                     <button>
                         <img src="imagin/bx-cart.svg" width="20" height="20"  alt="Carrito de compra">
                     </button>
                    </form>
 
                 </div>
                
            </header>
            <nav class="nav">
            
                <ul class="nav_menu">
    
                    <li class="nav_menu_item"><a href="/productos" class="nav_menu_link nav_link">Producto</a></li>
                    <li class="nav_menu_item"><a href="#" class="nav_menu_link nav_link">Ayuda</a></li>
    
    
                </ul>
    
               </nav>
           
           <main>
                     <div class="slide">
                        <div class="slide-inner">
                            <input class="slide-open" type="radio" id="slide-1" 
                                name="slide" aria-hidden="true" hidden="" checked="checked">
                            <div class="slide-item">
                                <img src="imagin/domenico-loia-EhTcC9sYXsw-unsplash.jpg"  alt="Imagen uno">
                            </div>
                            <input class="slide-open" type="radio" id="slide-2" 
                                name="slide" aria-hidden="true" hidden="">
                            <div class="slide-item">
                                <img src="imagin/javier-martinez-hUD0PUczwJQ-unsplash.jpg"  alt="Imagen dos">
                            </div>
                            <input class="slide-open" type="radio" id="slide-3" 
                                name="slide" aria-hidden="true" hidden="">
                            <div class="slide-item">
                                <img src="imagin/olivier-collet-JMwCe3w7qKk-unsplash.jpg"  alt="Imagen tres">
                            </div>
                            <label for="slide-3" class="slide-control prev control-1">‹</label>
                            <label for="slide-2" class="slide-control next control-1">›</label>
                            <label for="slide-1" class="slide-control prev control-2">‹</label>
                            <label for="slide-3" class="slide-control next control-2">›</label>
                            <label for="slide-2" class="slide-control prev control-3">‹</label>
                            <label for="slide-1" class="slide-control next control-3">›</label>
                            <ol class="slide-indicador">
                                <li>
                                    <label for="slide-1" class="slide-circulo">•</label>
                                </li>
                                <li>
                                    <label for="slide-2" class="slide-circulo">•</label>
                                </li>
                                <li>
                                    <label for="slide-3" class="slide-circulo">•</label>
                                </li>
                            </ol>
                        </div>
                    </div>
                    
            

           </main>
           <footer >
            <div class="grupo_1">
                <div class="box">
                    <h2 >Categoria</h2>
                    
                <ul >
    
                    <li ><a href="#" >Placas de video</a></li>
                    <li ><a href="#" >Procesadores</a></li>
                    <li ><a href="#" >Memoria</a></li>
                    <li ><a href="#" >Almacenamiento</a></li>
                    <li ><a href="#" >Refrigeracion</a></li>
                </ul>
                    
                </div>
                <div class="box">
                    <h2 > Marcas</h2>
                    <ul >
                        <li><a href="#" >Intel</a></li>
                        <li><a href="#" >Amd</a></li>
                        <li><a href="#" >Asus</a></li>
                        <li><a href="#" >Nvidia</a></li>
                        <li><a href="#" >Asrock</a></li>
                    </ul>    
                   
                </div>
                <div class="box">
                    <h2 > Ayuda</h2>
                    <ul >
                        <li ><a href="#" >Whatsapp</a></li>
                        <li ><a href="#" >FAQ</a></li>
                        <li ><a href="#" >Botón de arrepentimiento</a></li>
                    </ul>    
                </div>
                <div class="box">
                   <h2>Seguinos en nuestras redes</h2>
                   <div class="red_social">
                    <img src="imagin/bxl-instagram.svg"  width="50" height="50" alt="instagram">
                    <img src="imagin/bxl-whatsapp.svg"  width="50" height="50"alt="whatsapp">
                    <img src="imagin/bxl-facebook.svg"  width="50" height="50"alt="facebook">
                    
                   </div>
                </div>
            </div>
            <div class="grupo_2"></div>


           </footer>


    </div>
    


</body>
</html>
