<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Registro</title>

</head>

<body>
    <div id="contenedor">
        <header>

            <section id="logo"><img src="imagin/logo game live SF.png" width="160" height="140" alt="logo de game live">
            </section>

            <div class="search">
                <form action="#">
                    <input type="text" placeholder="Buscar producto " name="search">
                    <button>
                        <img src="imagin/bx-search-alt-2.svg" width="20" height="20" alt="lupa">
                    </button>

                </form>

            </div>
            <div class="iniciar-sesion">
                <form action="#">
                    <button>inicio de sesion
                        <img src="imagin/bx-user-circle.svg" width="20" height="20" alt="inicio de sesion">
                    </button>
                </form>

            </div>
            <div class="carrito">
                <form action="#">
                    <button>
                        <img src="imagin/bx-cart.svg" width="20" height="20" alt="Carrito de compra">
                    </button>
                </form>

            </div>
        </header>
        <nav class="nav">

            <ul class="nav_menu">

                <li class="nav_menu_item"><a href="#" class="nav_menu_link nav_link">Producto</a></li>
                <li class="nav_menu_item"><a href="#" class="nav_menu_link nav_link">Ayuda</a></li>


            </ul>

        </nav>

        <main>
            <div class="login">
                <h2> Inicio de sesión</h2>
                <p>Para comenzar ingresá tu email y tu contraseña</p>
                <form method="post">
                    <div class="username">
                        <input type="text" required>
                        <label> Email </label>
                    </div>
                    <div class="username">
                        <input type="password" required>
                        <label>Contraseña</label>
                    </div>
                    <div class="recording">¿Olvido su contraseña?</div>
                    <input class="sumbit" type="submit" value="Inicia Sesión">
                    <div class="register">
                        ¿No tenes cuenta? <a href="#">Crear cuenta</a>
                    </div>
                </form>
            </div>

        </main>
        <footer>
            <div class="grupo_1">
                <div class="box">
                    <h2>Categoria</h2>

                    <ul>

                        <li><a href="#">Placas de video</a></li>
                        <li><a href="#">Procesadores</a></li>
                        <li><a href="#">Memoria</a></li>
                        <li><a href="#">Almacenamiento</a></li>
                        <li><a href="#">Refrigeracion</a></li>
                    </ul>

                </div>
                <div class="box">
                    <h2> Marcas</h2>
                    <ul>
                        <li><a href="#">Intel</a></li>
                        <li><a href="#">Amd</a></li>
                        <li><a href="#">Asus</a></li>
                        <li><a href="#">Nvidia</a></li>
                        <li><a href="#">Asrock</a></li>
                    </ul>

                </div>
                <div class="box">
                    <h2> Ayuda</h2>
                    <ul>
                        <li><a href="#">Whatsapp</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Botón de arrepentimiento</a></li>
                    </ul>
                </div>
                <div class="box">
                    <h2>Seguinos en nuestras redes</h2>
                    <div class="red_social">
                        <img src="imagin/bxl-instagram.svg" width="50" height="50" alt="instagram">
                        <img src="imagin/bxl-whatsapp.svg" width="50" height="50" alt="whatsapp">
                        <img src="imagin/bxl-facebook.svg" width="50" height="50" alt="facebook">

                    </div>
                </div>
            </div>
            <div class="grupo_2"></div>


        </footer>


    </div>



</body>

</html>