<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/estilohome.css">
    <link rel="stylesheet" href="/css/estilos.css">
    <script src="https://kit.fontawesome.com/59856da62e.js" crossorigin="anonymous"></script> 
    <script src="script/carrito.js" async></script>
    <script defer src="script/menu.js"></script>
    <title>Gaming life </title>
</head>
<body>


    <header class="main-header">
        <%- include('partials/navbar') %> 
        <!--Completar con los distintos items del navbar-->
                <div class="nav-menu">
                    <a href="/gaminglife/usuario/login" class="nav-item">Iniciar sesion</a>
                    <a href="/gaminglife/productos/lista" class="nav-item">Lista de productos</a>
                    <a href="" class="nav-item">Quienes somos</a>
                    <a href="" class="nav-item">
                        <img src="/images/iconos/bx-cart.svg" alt="Carrito">
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <div>
        <section class="section-header">
          
          <div class="contenedor-header">
            <p class="nombre">Gaming Life</p>
            <a href="/gaminglife/users/registro">Crear Cuenta</a>
            <a href="/gaminglife/users/login">Ingresar</a>
          </div>
        </section>
    </div>
      
      <p class="div-categorias" >Productos mas vistos</p>

      <section class="contenedor" id="productos-mas-vistos">
          <!-- Contenedor de elementos -->
          <div class="contenedor-items">
              <div class="item">
                 
                  <span class="titulo-item">Memoria ram</span>
                  <img src="images/memoria.jpg" alt="" class="img-item">
                  <span class="precio-item">$15.000</span>
                  <p class="detalle">Memoria ram de 8G</p>
                  <button  class="boton-item"><a href="/carrito"  class="nav-menu-link nav-link">Comprar</a></button>
              </div>
              <div class="item">
                  <span class="titulo-item">Mother</span>
                  <img src="images/placa-madre-2.jpg" alt="" class="img-item">
                  <span class="precio-item">$25.000</span>
                  <p class="detalle">mother Asus</p>
                  <button  class="boton-item"><a href="/carrito"  class="nav-menu-link nav-link">Comprar</a></button>
              </div>
              <div class="item">
                  <span class="titulo-item">Pc armada</span>
                  <img src="images/gabinete1.jpg" alt="" class="img-item">
                  <span class="precio-item">$35.000</span>
                  <p class="detalle">Pc de 8g , placa de video,placa de sonido</p>
                  <button  class="boton-item"><a href="/carrito"  class="nav-menu-link nav-link">Comprar</a></button>
              </div>
              <div class="item">
                  <span class="titulo-item">Placa de video </span>
                  <img src="images/placa-video-1.jpg" alt="" class="img-item">
                  <span class="precio-item">$18.000</span>
                  <p class="detalle">Plca de video Ge Force CT740</p>
                  <button  class="boton-item"><a href="/carrito"  class="nav-menu-link nav-link">Comprar</a></button>
              </div>
              
          </div>
          
          
      </section>
      <p class="div-categorias">Memorias de pc</p>
  
      <section class="contenedor">
          <!-- Contenedor de elementos -->
          <div class="contenedor-items">
              <div class="item">
                 
                  <span class="titulo-item">Memoria ram</span>
                  <img src="images/memoria.jpg" alt="" class="img-item">
                  <span class="precio-item">$15.000</span>
                  <button  class="boton-item"><a href="/carrito"  class="nav-menu-link nav-link">Comprar</a></button>
              </div>
              <div class="item">
                  <span class="titulo-item">Memoria ram</span>
                  <img src="images/memoria-1.jpg" alt="" class="img-item">
                  <span class="precio-item">$25.000</span>
                  <button  class="boton-item"><a href="/carrito"  class="nav-menu-link nav-link">Comprar</a></button>
              </div>
              <div class="item">
                  <span class="titulo-item">Memoria ram</span>
                  <img src="images/memoria-2.jpg" alt="" class="img-item">
                  <span class="precio-item">$35.000</span>
                  <button  class="boton-item"><a href="/carrito"  class="nav-menu-link nav-link">Comprar</a></button>
              </div>
              <div class="item">
                  <span class="titulo-item">Mamoria ram </span>
                  <img src="images/memoria.jpg" alt="" class="img-item">
                  <span class="precio-item">$18.000</span>
                  <button  class="boton-item"><a href="/carrito"  class="nav-menu-link nav-link">Comprar</a></button>
              </div>
              
          </div>
         
          
      </section>
      <p class="div-categorias">Accesorios</p>

      <section class="contenedor" id="acesorios">
          <!-- Contenedor de elementos -->
          <div class="contenedor-items">
              <div class="item">
                  <span class="titulo-item">Accesorios</span>
                      <img src="images/auricular.jpg" alt="" class="img-item">
                      <span class="precio-item">$42.800</span>
                      <button  class="boton-item"><a href="/carrito"  class="nav-menu-link nav-link">Comprar</a></button>
                  </div>
                  <div class="item">
                      <span class="titulo-item">Accesorios</span>
                      <img src="images/fuente.jpg" alt="" class="img-item">
                      <span class="precio-item">$42.800</span>
                      <button  class="boton-item"><a href="/carrito"  class="nav-menu-link nav-link">Comprar</a></button>
                  </div>
                  <div class="item">
                      <span class="titulo-item">Accesorios</span>
                      <img src="images/mause.jpg" alt="" class="img-item">
                      <span class="precio-item">$42.800</span>
                      <button  class="boton-item"><a href="/carrito"  class="nav-menu-link nav-link">Comprar</a></button>
                  </div>
                  <div class="item">
                      <span class="titulo-item">Accesorios</span>
                      <img src="images/teclado-1.jpg" alt="" class="img-item">
                      <span class="precio-item">$42.800</span>
                      <button  class="boton-item"><a href="/carrito"  class="nav-menu-link nav-link">Comprar</a></button>
                  </div>
                 
          </div>
         
      </section>
      <p class="div-categorias">Pc armadas</p>
  
      <section class="contenedor" id="pc">
          <!-- Contenedor de elementos -->
          <div class="contenedor-items">
              <div class="item">
                  <span class="titulo-item">Pc armadas</span>
                      <img src="images/gabinete3.jpg" alt="" class="img-item">
                      <span class="precio-item">$42.800</span>
                      <button  class="boton-item"><a href="/carrito"  class="nav-menu-link nav-link">Comprar</a></button>
                  </div>
                  <div class="item">
                      <span class="titulo-item">Pc armadas</span>
                      <img src="images/gabinete2.jpg" alt="" class="img-item">
                      <span class="precio-item">$42.800</span>
                      <button  class="boton-item"><a href="/carrito"  class="nav-menu-link nav-link">Comprar</a></button>
                  </div>
                  <div class="item">
                      <span class="titulo-item">Pc armadas</span>
                      <img src="images/gabinete1.jpg" alt="" class="img-item">
                      <span class="precio-item">$42.800</span>
                      <button  class="boton-item"><a href="/carrito"  class="nav-menu-link nav-link">Comprar</a></button>
                  </div>
                  <div class="item">
                      <span class="titulo-item">Pc armadas</span>
                      <img src="images/gabinete3.jpg" alt="" class="img-item">
                      <span class="precio-item">$42.800</span>
                      <button  class="boton-item"><a href="/carrito"  class="nav-menu-link nav-link">Comprar</a></button>
                  </div>
                 
          </div>
         
      </section>
</body>
