<%- include('partials/head') %> 
    <title>Lista de Productos</title>
    <link rel="stylesheet" href="/css/about-us.css">
    <link rel="stylesheet" href="/css/nav-bar.css">
    <link rel="stylesheet" href="/css/estilo-footer.css">
</head>

<body>
    <header>
        <%- include('partials/navbar') %> 
        <!--Completar con los distintos items del navbar-->
        <div class="nav-menu">
            <a href="/gaminglife/usuario/login" class="nav-item">Iniciar sesion</a>
            <a href="/gaminglife/productos/crear" class="nav-item">Crear Producto</a>
            <a href="" class="nav-item">
                <img src="/images/iconos/bx-cart.svg" alt="Carrito"></a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="dev-catalogue">
            <div class="dev-panel">
                <img class="dev-img" src="" alt="">
                <div>
                    <h2 class="dev-name">Pablo Ruiz</h2>
                    <p class="dev-info">Futuro desarrollador web full stack node, 21 años y estudiante de la Universidad Nacio Gral. Sarmiento.</p>    
                </div>
            </div>
        </div>
    </main>
    <%- include('partials/footer') %> 