<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/estilohome.css">
    <link rel="stylesheet" href="/css/estilo-nav.css">
    <link rel="stylesheet" href="/css/estilo-footer.css">
    <script src="https://kit.fontawesome.com/59856da62e.js" crossorigin="anonymous"></script> 
    <script src="/script/carrito.js" async></script>
    <script defer src="/script/menu.js"></script>
    <title>Carrito</title>
</head>
<body>


    <header>
        <%-include ('partials/navbar') %>
    </header>
    <p class="div-categorias">Componentes</p>
    <section class="contenedor" id="productos-mas-vistos">
        <!-- Contenedor de elementos -->
        <div class="contenedor-items">
            <div class="item">
               
                <span class="titulo-item">Placa de video Nvidia GTX 1050Ti</span>
                <img src="/images/imgProductos/PlacadevideoNvidiaGTX1050Ti.jpg" alt="" class="img-item">
                <span class="precio-item">$176.329</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">Motherboard Asrock B360m</span>
                <img src="/images/imgProductos/MotherboardAsrockB360m.png" alt="" class="img-item">
                <span class="precio-item">$26.324</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            
        </div>
        <!-- Carrito de Compras -->
        <div class="carrito" id="carrito">
            <div class="header-carrito">
                <h2>Tu Carrito</h2>
            </div>

            <div class="carrito-items">
               
            </div>
            <div class="carrito-total">
                <div class="fila">
                    <strong>Tu Total</strong>
                    <span class="carrito-precio-total">
                        $120.000,00
                    </span>
                </div>
                <button class="btn-pagar">Pagar <i class="fa-solid fa-bag-shopping"></i> </button>
            </div>
        </div>
    </section>
    <p class="div-categorias">Almacenamiento</p>

    <section class="contenedor">
        <!-- Contenedor de elementos -->
        <div class="contenedor-items">
            <div class="item">
               
                <span class="titulo-item">Disco duro interno Seagate SkyHawk 1TB</span>
                <img src="/images/imgProductos/DiscodurointernoSeagateSkyHawk1TB.jpg" alt="" class="img-item">
                <span class="precio-item">$25.926</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">Disco Sólido SSD Lexar Nm620</span>
                <img src="/images/imgProductos/DiscoSólidoSsdLexarNm620512gb.jpg" alt="" class="img-item">
                <span class="precio-item">$22.000</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
        </div>
        <!-- Carrito de Compras -->
        <div class="carrito" id="carrito">
            <div class="header-carrito">
                <h2>Tu Carrito</h2>
            </div>

            <div class="carrito-items">
               
            </div>
            <div class="carrito-total">
                <div class="fila">
                    <strong>Tu Total</strong>
                    <span class="carrito-precio-total">
                        $120.000,00
                    </span>
                </div>
                <button class="btn-pagar">Pagar <i class="fa-solid fa-bag-shopping"></i> </button>
            </div>
        </div>
    </section>
    <p class="div-categorias">Periféricos</p>

    <section class="contenedor">
        <!-- Contenedor de elementos -->
        <div class="contenedor-items">
            <div class="item">
                <span class="titulo-item">Teclado gamer Redragon Kumara K552</span>
                <img src="/images/imgProductos/TecladogamerRedragonKumaraK552.png" alt="" class="img-item">
                <span class="precio-item">$24.299</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
            <div class="item">
                <span class="titulo-item">Mousegamer HP Gamer G360</span>
                <img src="/images/imgProductos/MousegamerHPGamerG360.jpg" alt="" class="img-item">
                <span class="precio-item">$5.399</span>
                <button class="boton-item">Agregar al Carrito</button>
            </div>
               
        </div>
        <!-- Carrito de Compras -->
        <div class="carrito" id="carrito">
            <div class="header-carrito">
                <h2>Tu Carrito</h2>
            </div>

            <div class="carrito-items">
               
            </div>
            <div class="carrito-total">
                <div class="fila">
                    <strong>Tu Total</strong>
                    <span class="carrito-precio-total">
                        $120.000,00
                    </span>
                </div>
                <button class="btn-pagar">Pagar <i class="fa-solid fa-bag-shopping"></i> </button>
            </div>
        </div>
    </section>
    
    
    
    <%- include('partials/footer') %>
</body>