<%- include('partials/head') %> 
    <link rel="stylesheet" href="/css/styles.css">
    <title>Pagina no encontrada</title>
</head>
<body>
    <header>
        <%-include ('partials/navbar') %>
    </header>
    <main>
        <div>
            <h2>La pagina a la que desea acceder, no existe</h2>
        </div>
    </main>