<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="css/login.css">
    <script src="https://kit.fontawesome.com/59856da62e.js" crossorigin="anonymous"></script> 
    <script src="script/carrito.js" async></script>
    <script defer src="script/menu.js"></script>
    <title>Gaming life </title>
</head>
<body>
    <div class="contenedor-nav">
        <nav class="nav">
           
            <a href="#" class="logo nav-link">Gaming_Life</a>
            <button class="menu-barras">
                <i class="fa-solid fa-bars"></i>
            </button>
            <ul class="nav-menu">
                <li class="nav-menu-item"><a href="/" class="nav-menu-link nav-link">Home</a></li>
                <li class="nav-menu-item"><a href="#productos-mas-vistos" class="nav-menu-link nav-link">Productos mas vistos</a></li>
                <li class="nav-menu-item"><a href="#pc" class="nav-menu-link nav-link">PC</a></li>
                <li class="nav-menu-item"><a href="#acesorios" class="nav-menu-link nav-link">Acesorios</a></li>
                <li class="nav-menu-item"><a href="/carrito" class="nav-menu-link nav-link">Carrito</a></li>
                <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link">Ayuda</a></li>

            </ul>
            

        </nav>
    </div>
    <header class="header">
        <section class="section-header">
          
          <div class="contenedor-header">
            <p class="nombre">Gaming Life</p>
            <a href="/register">Crear Cuenta</a>
            <a href="/login">Ingresar</a>
          </div>
        </section>
      </header>
      
      <div class="login">
        <h2> Inicio de sesión</h2>
        <p>Para comenzar ingresá tu email y tu contraseña</p>
        <form method="post">
            <div class="username">
                <input type="text" required>
                <label> Email </label>
            </div>
            <div class="username">
                <input type="password" required>
                <label>Contraseña</label>
            </div>
            <div class="recording">¿Olvido su contraseña?</div>
            <input class="sumbit" type="submit" value="Inicia Sesión">
            <div class="register">
                ¿No tenes cuenta? <a href="/register">Crear cuenta</a>
            </div>
        </form>
    </div>
</body>