<%- include('partials/head') %> 
    <title>Inicio</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    <header class="main-header">
        <%- include('partials/navbar') %> 
        <!--Completar con los distintos items del navbar-->
                <div class="nav-menu">
                    <a href="" class="nav-item">Iniciar sesion</a>
                    <a href="/productos" class="nav-item">Lista de productos</a>
                    <a href="" class="nav-item">Quienes somos</a>
                    <a href="" class="nav-item">
                        <img src="images\iconos\bx-cart.svg" alt="Carrito">
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="slide">
            <div class="slide-inner">
                <input class="slide-open" type="radio" id="slide-1" 
                      name="slide" aria-hidden="true" hidden="" checked="checked">
                <div class="slide-item">
                    <img src="/images/productos/gigabyte-rtx-22-mov.webp">
                </div>
                <input class="slide-open" type="radio" id="slide-2" 
                      name="slide" aria-hidden="true" hidden="">
                <div class="slide-item">
                    <img src="/images/productos/pcarmadas23-mov.webp">
                </div>
                <input class="slide-open" type="radio" id="slide-3" 
                      name="slide" aria-hidden="true" hidden="">
                <div class="slide-item">
                    <img src="/images/productos/sillas23-mov.webp">
                </div>
                <label for="slide-3" class="slide-control prev control-1">‹</label>
                <label for="slide-2" class="slide-control next control-1">›</label>
                <label for="slide-1" class="slide-control prev control-2">‹</label>
                <label for="slide-3" class="slide-control next control-2">›</label>
                <label for="slide-2" class="slide-control prev control-3">‹</label>
                <label for="slide-1" class="slide-control next control-3">›</label>
                <ol class="slide-indicador">
                    <li>
                        <label for="slide-1" class="slide-circulo">•</label>
                    </li>
                    <li>
                        <label for="slide-2" class="slide-circulo">•</label>
                    </li>
                    <li>
                        <label for="slide-3" class="slide-circulo">•</label>
                    </li>
                </ol>
            </div>
        </div>
        <section class="last-visit">
            <h3>Basado en tu última visita</h3>
            <div class="productos">
                <article>
                    <img src="/images/productos/Destacados/161-PC-Armada-Prod_800.webp"  alt="pc">
                    <div class="main-article">
                        <i class="fas fa-truck truck-icon"></i>
                        <p class="price">$6.770</p>
                        <p class="discount">40% off</p>
                        <h4 class="description">Pc Oficina</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/productos/Destacados/PC-Armada-Baja-2007_800.webp" width="300px" alt="pc">
                    <div class="main-article">
                        <i class="fas fa-truck truck-icon"></i>
                        <p class="price">$230.000</p>
                        <p class="discount">20% off</p>
                        <h4 class="description">Pc Gammer</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/productos/Destacados/gabinete1.jpg" width="300px" alt="Pc">
                    <div class="main-article">
                        <i class="fas fa-truck truck-icon"></i>
                        <p class="price">$70.500</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Gabinete red Dragon</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/productos/Destacados/memoria-1.jpg" width="300px" alt="Memorias">
                    <div class="main-article">
                        <i class="fas fa-truck truck-icon"></i>
                        <p class="price">$23.200</p>
                        <p class="discount">5% off</p>
                        <h4 class="description">Memorias electro iluminadas</h4>
                    </div>
                </article>
            </div>
        </section>
        <section class="offers">
            <h3>Ofertas</h3>
            <div class="productos">
                <article>
                    <img src="/images/productos/Destacados/memoria-2.jpg" width="300px" alt="Memorias">
                    <div class="main-article">
                        <i class="fas fa-truck truck-icon"></i>
                        <p class="price">$6.770</p>
                        <p class="discount">40% off</p>
                        <h4 class="description">Memorias Genericas</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/productos/Destacados/placa-madre-1.jpg" width="300px" alt="Placa Madre">
                    <div class="main-article">
                        <i class="fas fa-truck truck-icon"></i>
                        <p class="price">$230.000</p>
                        <p class="discount">20% off</p>
                        <h4 class="description">PLaca Madre Generica</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/productos/Destacados/placa-madre-2.jpg" width="300px" alt="Placa Madre">
                    <div class="main-article">
                        <i class="fas fa-truck truck-icon"></i>
                        <p class="price">$70.500</p>
                        <p class="discount">10% off</p>
                        <h4 class="description">Placa madre Red Dragon</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/productos/Destacados/placa.video2.jpg" width="300px" alt="Placa de video">
                    <div class="main-article">
                        <i class="fas fa-truck truck-icon"></i>
                        <p class="price">$23.200</p>
                        <p class="discount">5% off</p>
                        <h4 class="description">Placa de video Basica</h4>
                    </div>
                </article>
            </div>
        </section>
       
    </main>
    
</body>
</html>