<footer>
    <div class="content-box">
        <div class="box">
            <p>Copyright (c) 2023 Gaming Life Team.
                Todos los derechos reservados.
                Este producto está protegido por derechos de autor y se distribuye bajo
                 licencias que restringen la copia, distribución y descompilación.</p>
        </div>
        <div class="box">
        <div class="box">
            <h2>Seguinos en nuestras redes</h2>
            <div class="red_social">
                <img src="/images/iconos/bxl-instagram.svg" width="50" height="50" alt="instagram">
                <img src="/images/iconos/bxl-whatsapp.svg" width="50" height="50" alt="whatsapp">
                <img src="/images/iconos/bxl-facebook.svg" width="50" height="50" alt="facebook">

            </div>
        </div>
    </div>
</footer>