<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="/images/logo game live SF.png" alt="logo" class="logo-img">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <p>Venta de productos relacionados con la computación y el "Gaming", Apuntamos nuestros servicios al mundo del Gaming. Teniendo productos de mayor calidad al mejor precio. </p>
        </div>
        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-whatsapp"></a>
                <a href="#" class="fa fa-youtube"></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>Copyright &copy; 2023 <b>Gaming Life Team</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>