<nav class="nav">
    <div class="nav-container">
        <a href="/gaminglife/inicio">
        <img src="/images/logo game live SF.png" alt="logo" class="logo-img">
        </a>
        <div class="search-container">
            <form action="https://www.google.com/search" method="get" class="search" autocomplete="off">
                <input type="text" placeholder="Buscar articulo" name="container-search">
                <button type="submit"><img src="/images/iconos/product-assets/search.png" alt=""></button>
            </form>
        </div>
        <!--<label for="menu" class="nav-label">
            <img src="/images/iconos/product-assets/menu.svg" alt="" class="nav-img">
        </label> 

        <input type="checkbox" id="menu" class="nav-input">
        <a href="/views/home.ejs"><img src="/images/iconos/product-assets/menu.svg" alt="" class="nav-img"></a>


         //FILE ORIGINAL -->
<!-- <nav class="nav">
    <div class="nav-container">
        <img src="/images/logo game live SF.png" alt="logo" class="logo-img">
        <div class="search-container">
            <form action="https://www.google.com/search" method="get" class="search" autocomplete="off">
                <input type="text" placeholder="Buscar articulo" name="q">
                <button type="submit"><img src="/images/iconos/product-assets/search.png" alt=""></button>
            </form>
        </div>
        <label for="menu" class="nav-label">
            <img src="/images/iconos/product-assets/menu.svg" alt="" class="nav-img">
        </label>

        <input type="checkbox" id="menu" class="nav-input"> -->
