<header>
    <section id="logo"><img src="imagin/logo game live SF.png" width="160" height="140" alt="logo de game live">
    </section>

    <div class="search">
        <form action="#">
            <input type="text" placeholder="Buscar producto " name="search">
            <button>
                <img src="imagin/bx-search-alt-2.svg" width="20" height="20" alt="lupa">
            </button>

        </form>

    </div>
    <div class="iniciar-sesion">
        <form action="#">
            <button>
                <a href="/login" class="nav_menu_link nav_link">inicio de secion</a>
                <img src="imagin/bx-user-circle.svg" width="20" height="20" alt="inicio de sesion">
            </button>
        </form>

    </div>
    <div class="carrito">
        <form action="#">
            <button>
                <img src="imagin/bx-cart.svg" width="20" height="20" alt="Carrito de compra">
            </button>
        </form>

    </div>
</header>