<nav class="nav">

    <ul class="nav_menu">

        <li class="nav_menu_item"><a href="/" class="nav_menu_link nav_link">Home</a></li>
        <li class="nav_menu_item"><a href="/productos" class="nav_menu_link nav_link">Producto</a></li>
        <li class="nav_menu_item"><a href="/ayuda" class="nav_menu_link nav_link">Ayuda</a></li>


    </ul>

</nav>