.nav {
    background: black;
    height: 100px;
    color: #fff;
}

.nav-logo {
    font-size: 1.5em;
    font-weight: 900;
}

.nav-container {
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0;
    justify-content: space-between;
    align-items: center;
}

.nav-label,
.nav-input {
    display: none;
}

.nav-menu {
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}

.nav-item {
    position: relative;
    left: 1em;
    color: white;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav-item::after {
    content: "";
    display: block;
    background: #fff;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .3s;
}

.nav-item:hover {
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 99%);
}

/* Buscador */

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

.search {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    max-width: 300px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.search input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0px 10px;
}

.search button {
    height: 100%;
    border: none;
    background-color: darkorange;
    cursor: pointer;
    padding: 0px 10px;
}
.search button img {
    height: 100%;
}

.logo-img-nav{
    height: 100px;
    width: 115px;
    position: relative;
    left: 0.5em;
}

.user-avatar-nav{
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.logout-btn {
    display: inline-block;
    position: relative;
}

.button-logout{
    display: block;
    width: 120px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: red;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}

.button-logout:hover{
    background-color: #cc0000;
    cursor: pointer;
}

/*estilo del menu hamburguesa*/
.menu-barras {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 50px;
    display: none;
    cursor: pointer;
}
@media(max-width: 768px) {
    .nav-menu {
        display: grid;
        grid-auto-flow:dense;
        align-items: center;
        margin-right: 20px;
        background-color:#F2921D ;
        position: fixed;
        left: 0;
        top:60px;
        width: 100%;
        padding: 20px 0;
        height:calc(100% - 60px) ;
        overflow-y: auto;
        left:100% ;
        transition: left 0,5s;
    }

    .menu-barras{
        display:block ;
    }
    .nav-menu_visible{
      left: 0;
    }  


}