* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body */

body {
    background-image: url(../images/background.png);
    background-repeat: repeat;
    font-family: "Montserrat", sans-serif, Arial,;
}

/* main */


/* registro de la pag web */

.loginMain{
    display: flex;
    justify-content: center;
}

.login {
    position: relative;
    width: 400px;
    background: rgba(9, 8, 8, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 5px;

    margin: 2em;
}

.login h2 {
    text-align: center;
    padding: 0 0 20px 0;
    margin-top: 15px;
    color: #fff;
}
.login p{
    text-align: center;
    color: #FFA52E;
}
.login form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .username {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.username input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
    color: #fff;
}

.username label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(20%);
    font-size: 16px;
    pointer-events: none;
    transition: all 0.1s ease;
}

.username span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #fff;
    transition: all 0.1s ease;
}

.username input:focus~label,
.username input:focus~label {
    top: -10px;
    color: rgb(217, 216, 226);
}

.username input:focus~span::before,
.username input:focus~span::before {
    width: 100%;
}

.username input:not(:focus):valid~label{
    top: -10px;
    color: rgb(217, 216, 226);
}
.recording {
    margin: -5px 0 20px 5px;
    color: #FFFFFF;
    cursor: pointer;
}

.recording:hover {
    text-decoration: underline;
}

.title{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.sumbit {
    width: 100%;
    height: 50px;
    background:  #FFA52E;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    outline: none;
    text-align: center;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.sumbit:hover {
    border-color: #FFA52E;
    transition: .5s;
}

.register {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: white;
}

.register a {
    color: #fff;
    text-decoration: none;
}

.register a:hover {
    text-decoration: underline;
}

main {
    height: 100%;
    background: rgb(217, 216, 226);
}

.register-error-message {
    padding: 5px 5px;
    color: #ff0000;
    text-align: center;
}



/* Catalogo*/

main.contenido{
    display: flex;
    max-width: 1100px;
    width: 100%;
    margin: 40px auto;
    background-color: white;
}

#sidebar{
    position: relative;
    border-radius: 3%;

    margin: 10px 10px;

    width: 200px;
    height: 100%;
    background-color: #e2af7d;

}

#sidebar h2{
    color: #f7ede2;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

#sidebar ul li{
    text-align: center;
    color: #f7ede2;
    list-style:none;
    padding: 10px 10px;
    
}

#sidebar ul li a{
    text-decoration: none;
    color: #f7ede2;
}

.catalogo{
    width: 100%;
}

.mostrador{
    width: 100%;
    transition: .5s ease;
    padding-top: 10px;
}
.mostrador .fila{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.mostrador .fila .item{
    max-width: 100%;
    margin: 10px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
    background-color: #e2af7d;
}

.mostrador .fila .item:hover{
    background-color: #FFA52E;
}

.mostrador .fila .item .contenedor-item{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 170%;
    text-align: center;
}

.mostrador .fila .item img{
    width: 3rem;
    height: 3rem;
    padding-bottom: 10px;
}

.mostrador .fila .item .contenedor-item .texto{
align-items: center;
}

.mostrador .fila .item .contenedor-item .boton{
    background-color: #FFA52E;
    border-radius: 10%;
    align-items: center;
}

.mostrador .fila .item .contenedor-item .boton a{
    text-decoration: none;
    color: #000000;
}

.mostrador .fila .item .descripcion{
    color: #707070;
    font-weight: bold;
}
.mostrador .fila .item .precio{
    color: #f85151;
    font-weight: bold;
    font-size: 20px;
}

/* Detalle del producto */

section.producto{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.contenido .producto img{
    width: 10rem;
    position: relative;
    left: 62%;
    top: 10%;
}

.contenido .producto .descripcion-general{
padding-right: 5%;
}

.contenido .producto .descripcion-general .contenedor-info h3{
    color: #FFA52E;
    font-size: bold;
}

.contenido .producto .descripcion-general .contenedor-info .destacado{
    color: #FFA52E;
    font-size: bold;
}

.contenido .producto .descripcion-general .contenedor-info{
    border-bottom: #000000 1px solid;
    margin: 10px;
    padding: 5px;
}

.contenido .producto .descripcion-general .contenedor-info li{
   list-style: none;
}

.contenido .producto .descripcion-general .contenedor-info2{
    display: flex;
    justify-content: space-between;
    border-bottom: #000000 1px solid;
    margin: 10px;
}

.contenido .producto .descripcion-general .contenedor-info2 a{
    text-decoration: none;
    color: black;
}

.contenido .producto .descripcion-general .contenedor-info2 .contenedor-precio{
    background-color: #FFA52E;
    border-radius: 5%;
    color: white;

    position: relative;
    bottom: 5px;

    padding: 5px;
}

/* Detalle del producto: recomendados */

.recomendados{
    display: flex;
    justify-content: center;
}

.recomendados .tarjeta{
    background-color: #e2af7d;
    border-radius: 5%;
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 5%;
    
}

.recomendados .tarjeta img{
    width: 6rem;
    margin-left: 2px;
    margin-top: 3px;
}

.recomendados .tarjeta .descripcion p{
    color: white;
}

.recomendados .tarjeta .precio{
    color: white;
}

.recomendados .tarjeta .ver-mas{
    color: white;
    background-color: #FFA52E;
    border-radius: 5%;
    width: 80%;
    position: relative;
    left: 10%;
    margin-bottom: 10px;
}