* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body */

body {
	background-image: url(../images/background.png);
    background-repeat: repeat;
    font-family: "Montserrat", sans-serif, Arial;
}
/* main */

header {
    width: 100%;
    margin: 0;
}

.logo-img {
    width: 5em;
    position: relative;
    right: 5%;
}

.nav {
    background: black;
    height: 80px;
    color: #fff;
}

.nav-logo {
    font-size: 1.5em;
    font-weight: 900;
}

.nav-container {
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.nav-label,
.nav-input {
    display: none;
}

.nav-menu {
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}

.nav-item {
    position: relative;
    left: 2em;
    color: white;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav-item::after {
    content: "";
    display: block;
    background: #fff;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .3s;
}

.nav-item:hover {
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 99%);
}

/* Buscador */

.search-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}

.search input {
    height: 60%;
}

.search button {
    height: 65%;
    background-color: darkorange;
    border-radius: 5%;
}

.search button img {
    height: 100%;
}

main{
    background-color: aliceblue;
    border: black 1px solid;
}
