* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body Background*/

body {
    background-image: url(../images/background.png);
    background-repeat: repeat;
    font-family: "Montserrat", sans-serif, Arial;
}

/*  grid productos  */

.grid-layout {

    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;

    justify-content: space-around;
    

    width: 80%;
    margin: 0 auto;
    background: rgbA(4,20,36,0.7);
    padding: 20px;

}

.grid-layout .producto {
    background: white;
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;
    text-align: center;

    cursor: pointer;

    margin-bottom: 20%;
    padding-top: 10px;

    border: 1px solid black;
    border-radius: 1%;
    height: 18em;
    width: 15em;
    box-shadow: 5px 5px 10px white;
}

.grid-layout .producto:hover {
    background: white;
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;
    text-align: center;

    cursor: pointer;

    margin-bottom: 20%;
    padding-top: 10px;

    border: 1px solid black;
    border-radius: 1%;
    height: 18em;
    width: 15em;
    box-shadow: 5px 5px 10px darkorange;
    transition: all 250ms ease-out;
}

.grid-layout .producto .product-payments {
    color:black;
    font-weight: bold;
}

.grid-layout .producto .product-viewmore {
    background-color: darkorange;
    color: black;
    text-decoration: none;

    border-radius: 10%;
    padding: 2px;
    margin-top: 5%;


    
}

.grid-layout .producto .product-img{
    height: 130px;
    max-width: auto;


    border-radius: 5%;
    margin: 3px;
}

/* Prodcut detail */

.main-conteiner{
    height: 100%;
    width: 90%;

    display: flex;
    flex-direction: column ;
    margin-left: 5%;
    justify-content: center;
    align-items: center;
}

.product-box{
    height: 550px;
    width: 80%;

    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: auto;

    margin-top: 5%;
    margin-bottom: 1%;
    padding: 20px;

    background-color: aliceblue;
    border: orange 4px solid;
    border-radius: 1%;
    box-shadow: 5px 5px 10px rgba(255, 140, 0, 0.5);
}

.img-conteiner{
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.img-conteiner p{
    color: black;
    text-shadow: 0 0 8px;
    
}

.img-conteiner a{
    color: black;
    text-shadow: 0 0 8px;
    
}

.product-img-detail{
    max-width: 460px;
    max-height: 460px;
    
}

.features{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    align-items:center;
    padding-left: 15px;
    
    border-left: 2px solid lightgray;
}

.p-name{
    color: orange;
}

.p-description{
    font-style: italic;
    padding-bottom: 10%;
}

/*Descripcion del producto*/

.description-box{

    background-color: aliceblue;
    border: orange 4px solid;
    border-radius: 1%;
    box-shadow: 5px 5px 10px rgba(255, 140, 0, 0.5);

    height: auto;
    width: 80%;
    margin-bottom: 1%;
    padding: 20px;
}

.relation-box{

    background-color: aliceblue;
    border: orange 4px solid;
    border-radius: 1%;
    box-shadow: 5px 5px 10px rgba(255, 140, 0, 0.5);

    height: auto;
    width: 80%;
    margin-bottom: 5%;
    padding: 20px;
}

.button-conteiner{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.buttonP{
    background-color: lightgrey;
    border-radius: 3px;
    border: 1px black solid;
    
    margin: 4px;
    padding: 1rem;

    width: 100%;
}

.buttonComprar{
    background-color: darkorange;
    border-radius: 3px;
    border: 1px black solid;
    
    margin: 4px;
    padding: 1rem;

    width: 100%; 
}

.buttonP:hover{
    box-shadow: 2px 2px 5px;
    background-color: darkorange;
    cursor: pointer;
}

.buttonComprar:hover{
    box-shadow: 2px 2px 5px;
    font-weight: bold;
    cursor: pointer;
}

.category_splash{
    display: flex;
    justify-content: start;
    align-items: center;
}

.category_splash p{
    font-style: italic;
}
/* Formulario de creacion*/

.secTitle{
    margin-top: 5%;
    color: white;
    background-color: black;
    border: 2px black solid;
}

.create-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 5%;
    font-size:large;
}

@media (min-width:1400px) {
    .grid-layout{
        grid-template-columns: auto auto auto auto;
    }
}

/*  laptops */
@media (max-width: 1024px){

    header {
        margin: -3%;
        width: 105%;
    }

    .nav-container{
      position: relative;
    }

    .nav-label {
        display: block;
        cursor: pointer;
    }

    .nav-item {
        position: relative;
        left: 0;
    }

    .nav-menu {
        position: fixed;
        top: 90px;
        bottom: 0;
        background: darkorange;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        gap: 1em;

        --navanim: polygon(0 0, 100% 0, 100% 0, 0 0);
        clip-path: var(--navanim);
        transition: clip-path .8s;
        /* clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out; */
    }

    .nav-input:checked+.nav-menu {
        /*clip-path: circle(100% at center);*/
        --navanim: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        border-radius: 1%;
    }

    .grid-layout{
        margin-top: 5%;
        
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;

        justify-content: space-between;
    }

    .grid-layout .producto{
        justify-content: space-around;
        
    }
}


/*  tablets */
@media (max-width: 768px) {

    .search-container{
        display: none;
    }

    .grid-layout{
        margin-top: 5%;
        
        grid-template-columns: auto auto;
        grid-template-rows: auto;

        justify-content: space-around;
    }

    .grid-layout .producto{
        justify-content: space-around;
        
    }
}

/*  mobile M */
@media (max-width: 425px){
    
    .search-container{
        display: none;
    }
    
    .grid-layout{
        margin-top: 5%;
        
        grid-template-columns: auto;
        grid-template-rows: auto;

        justify-content: center;
    }

    .grid-layout .producto{
        justify-content: space-around;
        
    }
}